node_modules
vendor
storage/*.key
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.env
.env.*
.git
.gitignore
Dockerfile
.dockerignore
composer.lock
npm-debug.log
